.cell {
    stroke-width: 0;
}
svg {
    font: 10px sans-serif;
}
.map {
    border: 1px solid black;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.map path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}